*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/** ================ Colors ======================= */
	/* Background */
	--main-bg-color: rgb(255, 122, 122);
	--header-bg-color: rgb(96, 85, 165);
	--form-bg-color: white;
	--btn-bg-color: rgb(56, 204, 140);
	--btn-bg-color--hover: rgba(56, 204, 140, 0.623);

	/* Font */
	--title-font-color: white;
	--text-font-color: white;
	--header-font-color: white;
	--input-font-color: rgb(62, 60, 73);
	--btn-font-color: white;
	--terms-font-color: rgb(185, 182, 211);
	--terms-link-font-color: rgb(255, 122, 122);
	--error-font-color: rgb(255, 122, 122);

	/* Shadow */
	--header-shadow-color: rgba(62, 60, 73, 0.315);
	--form-shadow-color: rgba(62, 60, 73, 0.315);

	/* Border */
	--input-border-color: rgb(185, 182, 211);
	--input-border-color--error: rgb(255, 122, 122);
	--input-border-color--success: rgb(56, 204, 140);
}

html {
	font-family: Poppins, sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url(./images/bg-intro-desktop.png) 20px 0/ cover no-repeat;
	background-color: var(--main-bg-color);
}

.container {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px;
}

.intro {
	display: flex;
	align-items: center;
}

.intro__content,
.intro__signup-form {
	flex: 0 1 50%;
	padding: 20px;
}

/** ================ Content ======================= */
.title {
	font-size: 5rem;
	line-height: 6rem;
	color: var(--title-font-color);
}

.intro__title {
	margin-bottom: 30px;
}

.text {
	color: var(--title-font-color);
}

/** ================ Form ======================= */
.header {
	width: 100%;
	text-align: center;
	line-height: 6rem;
	background: var(--header-bg-color);
	border-radius: 10px;
	color: var(--header-font-color);
	box-shadow: 0px 8px var(--header-shadow-color);
}

.header span {
	font-weight: 600;
}

.signup-form__header {
	margin-bottom: 30px;
}

.form {
	background: var(--form-bg-color);
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0px 8px var(--header-shadow-color);
}

.input-control {
	position: relative;
}

.input {
	width: 100%;
	font-family: Poppins;
	line-height: 5rem;
	font-weight: 500;
	color: var(--input-font-color);
	padding: 0 25px;
	border: 1px solid rgba(128, 128, 128, 0.213);
	border-radius: 5px;
}

.input:focus {
	outline: 0;
	border-color: var(--header-bg-color);
}

.input-control.error .input {
	border-color: var(--input-border-color--error);
}

.input-control.success .input {
	border-color: var(--input-border-color--success);
}

.form__input {
	margin-bottom: 35px;
}

.error__text {
	position: absolute;
	bottom: 15px;
	right: 0;
	text-align: end;
	font-size: 1rem;
	color: var(--error-font-color);
}

.error__icon {
	display: none;
	position: absolute;
	top: 13px;
	right: 20px;
	width: 24px;
	height: 24px;
	background: url('./images/icon-error.svg') no-repeat;
}

.btn {
	width: 100%;
	line-height: 5rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--btn-font-color);
	border-radius: 5px;
	background: var(--btn-bg-color);
	border: none;
	box-shadow: 0 4px 5px rgb(28, 143, 93);
	transition: all .5s;
}

.btn:hover {
	cursor: pointer;
	background: var(--btn-bg-color--hover);
}

.btn:active {
	box-shadow: none;
}

.form__btn {
	margin-bottom: 20px;
}

.form__terms {
	text-align: center;
	font-size: 1rem;
	color: var(--terms-font-color);
}

.form__terms-link {
	text-decoration: none;
	font-weight: 700;
	color: var(--terms-link-font-color);
}

/** ================ Media ======================= */
/* Laptops */
@media (max-width: 1024px) {
	html {
		font-size: 56%;
	}

	.signup-form__header {
		margin-bottom: 20px;
	}

	.form {
		padding: 20px;
	}
}

/* Tablets */
@media (max-width: 768px) {
	html {
		font-size: 52%;
	}

	.wrapper {
		overflow: auto;
	}

	.container {
		height: fit-content;
	}

	.intro {
		flex-wrap: wrap;
		padding: 30px;
	}

	.intro__content,
	.intro__signup-form {
		flex-basis: 100%;
	}

	.intro__content {
		text-align: center;
	}

	.title {
		font-size: 4.5rem;
		font-weight: 600;
	}

	.intro__title {
		margin-bottom: 15px;
	}

	.form {
		padding: 40px 60px;
	}
}

/* Mobile */
@media (max-width: 480px) {
	html {
		font-size: 62%;
	}

	.container {
		max-width: 450px;
		padding: 30px;
	}

	.intro {
		padding: 60px 0 40px 0;
	}

	.intro__content,
	.intro__signup-form {
		padding: 0;
	}

	.intro__text {
		margin-bottom: 60px;
	}

	.title {
		font-size: 2.5rem;
		line-height: 3.5rem;
	}

	.header {
		line-height: 2rem;
		padding: 20px 40px;
	}

	.signup-form__header {
		margin-bottom: 25px;
	}

	.form {
		padding: 20px;
	}

	.input {
		line-height: 4.5rem;
	}

	.form__terms {
		padding: 0 25px;
	}
}

@media (max-width: 330px) {
	.container {
		padding: 15px;
	}

	.intro__text {
		margin-bottom: 50px;
	}

	.header {
		padding: 15px;
		line-height: 3rem;
	}

	.form__terms {
		padding: 0 10px;
	}
}

/* mobile rotated */
@media (max-width: 920px) and (max-height: 540px) {
	.wrapper {
		height: fit-content;
	}
}